.fullWidth {
  max-width: 100% !important;
}

#myPreload {
  position: absolute;
  top:-100px;
  left: 0;
  z-index: 99999999;
  height: 1000%;
  width: 100%;
  overflow: hidden;
  background: $white;
}

body {
  background: $white;

  h2, p {
    color: #555;
  }

  nav {
    width: 100%;
    height: 45px;
    background-color: $white;
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
    -webkit-transform: translate3d(0,0,0);
    backface-visibility: hidden;

    a {
      font-family: $font-family-serif;
      font-style: italic;
      font-size: 18px;
      margin: 10px 0 0 0;
      padding-left: 30px;
      display: inline-block;
      @include css-transition($normal-transition);

      &:first-child {
        padding-left: 15px;
      }
    }

    .pagination {
      padding-right: 30px;

      .arrow:first-child {
        margin-right: 20px;
      }
    }

    .arrow {
      margin: 10px 0 0 0;
      padding-left: 0;
    }
  }

  header {
    margin-top: 45px;
    padding: 90px 0;

    &#home {
      background: 50% 100% no-repeat;
      background-image: url("../img/header.png");
      opacity: 1;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      outline: 15px solid $white;
      outline-offset: -15px;
      display: flex;
      align-items: center;
      min-height: 400px;

      h1 {
        color: $white;
        padding: 0 15px;
      }
    }
  }

  .portfolioThumb {
    margin-bottom: $column-gutter;

    a {
      display: block;
      position: relative;
      height: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @include css-transition($short-transition);
      }

      &:hover {
        &:before {
          background: rgba(41, 41, 41, 0.6);
        }

        .portfolioInfo {
          opacity: 1;
        }
      }
    }

    .portfolioInfo {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      text-align: left;
      opacity: 0;
      @include css-transition($short-transition);
    }

    h3, p {
      margin: 0;
      color: #eee;
      padding-left: $column-gutter;
    }
  }

  section {
    padding: 60px 0 0 0;

    h3 {
      margin:5px 0 -5px 0;
    }

    p {
      margin-bottom: 30px;
    }

    &#portfolioTitle {
      padding: 60px 0 0 0;

      h2 {
        line-height: 1.3;
        border-bottom: solid 4px #333;
        width: 60px;
        padding-bottom: 4px;
      }

      p {
        padding-top: 15px;
        font-size: 80%;
      }
    }

    &#portfolioItem {
      padding: 30px 0 0 0;

      img {
        width: 100%;
        padding-bottom: 15px;
      }
    }
  }

  footer {
    padding: 60px 0px 15px 0px;

    h2 {
      margin-top: 30px;
      line-height: 1.3;
    }

    span {
      border-bottom: solid 4px #333;
      padding-bottom: 4px;
      width: 60px;
      display: block;
      margin-bottom: 20px;
    }

    .portrait {
      background: url('../img/daria.png');
      background-size: cover;
      height: 300px;
    }
  }
}

@media #{$medium-up} {
  body {
    nav {
      height: 60px;

      a {
        margin-top: 18px;
      }

      .pagination {
        padding-right: 30px;
      }

      .arrow {
        margin: 18px 0 0 0;
        padding-left: 0;
      }
    }

    header {
      margin-top: 0;
      padding: 0;

      &#home {
        min-height: 100vh;
      }
    }

    section {
      &#portfolioTitle {
        h2 {
          width: 120px;
          border-bottom: solid 6px #333;
        }

        p {
          font-size: 100%;
        }
      }

      &#portfolioItem {
        padding: 60px 0 0 0;
      }
    }

    footer {
      img {
        width: 100%;
      }

      h2 {
        margin-top: -10px;
      }

      #cvCol {
        padding-top: 30px;
      }

      .cvPosition {
        font-family: $header-font-family;
      }

      span {
        border-bottom: solid 6px #555;
        width: 120px;
      }

      .portrait {
        height: 350px;
      }

      #cvCol p {
        width: 50%;
        float: left;
      }
    }
  }
}

@media #{$large-up} {
  .fullWidth{
    padding: 0 60px !important;
  }

  &.cmn-t-underline-lr {
    position: relative;
    color: $charcoal;
    padding: 0 5px;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 11px;
      width: 0;
      height: 1px;
      background-color: $charcoal;
      content: "";
      @include css-transition($normal-transition);
    }

    &:hover, &:active {
      color: $oil;

      &:after {
        width: 100%;
      }
    }
  }

  &.cmn-t-underline-rl {
    position: relative;
    color: $charcoal;
    padding: 0 5px;

    &:after {
      display: block;
      position: absolute;
      right: 2px;
      bottom: 11px;
      width: 0;
      height: 1px;
      background-color: $charcoal;
      content: "";
      @include css-transition($normal-transition);
    }

    &:hover, &:active {
      color: $oil;

      &:after {
        width: 100%;
      }
    }
  }

  body {
    nav {
      height: 90px;

      a {
        margin: 32px 0 0 45px;
        display: inline-block;
        padding: 0;
        @include css-transition($normal-transition);

        &:first-child{
          padding-left: 5px;
        }

        &.backlink {
          padding: 0 5px 0 2px;
        }
      }

      .pagination {
        padding-right: 60px;
      }

      .arrow {
        margin: 32px 0 0 0;
      }
    }

    header {
      padding: 105px 0 60px 0;

      &#home {
        margin: 0;
        outline: 30px solid white;
        outline-offset: -30px;

        h1 {
          padding: 0 45px;
        }
      }
    }

    section {
      padding: 90px 0;

      &#portfolioItem {
        img {
          padding: 15px;

          &:first-child {
            padding-top:0;
          }
        }
      }

      &#portfolioTitle {
        padding: 120px 0 0 0;
      }
    }

    footer {
      padding: 0px 0px 30px 0px;

      #descCol {
        padding-right: 40px;
      }

      #cvCol {
        padding-top: 0;
        margin-top: -7px
      }

      .portrait {
        height: 450px;
      }

      #cvCol p {
        width: 100%;
        float: none;
      }
    }
  }
}

@media #{$xlarge-up} {
  body {
    header {
      &#home {
        h1 {
          padding: 0 45px;
        }
      }
    }
  }
}

@media #{$xxlarge-up} {
  body {
    header {
      &#home {
        h1 {
          padding: 0 45px;
        }
      }
    }
  }
}
