html.modal-open {
   overflow: hidden;
}
.reveal-modal-bg {
}
.reveal-modal{
   z-index: 99999;
   position: fixed;
   top: 0 !important;
   left: 0 !important;
   height: 100%;
   width: 100%;
   opacity: 1;
	box-shadow: none;
   border: none;
   border-radius: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   -o-border-radius: 0px;
   -ms-border-radius: 0px;
   background-color:rgba(255,255,255,0.8);
   .scrollable-content{
		overflow-y: scroll;
		height: 100%;
	}
	a.close-reveal-modal {
      color: $oil;
		top: 1.3rem;
		right: 1.7rem;
		font-size: 3rem;
      @include css-transition($normal-transition);
      &:hover{
			text-shadow: -1px 1px 0px $gainsboro, -2px 2px 0px $gainsboro, -3px 3px 0px $gainsboro, -4px 4px 0px $gainsboro;
		}
	}
	p{
      padding: 30px 0;
	}
}
